<!-- ::theme.simple -->
<div data-content="action">
  <div class="auth-layout">
    <!-- ::module.topbar -->
    <main class="auth-content">
      <div class="status-message-container">
        <h2>Cuenta en revisión</h2>
        <p>Hola, hemos recibido tu registro correctamente. Tu cuenta se encuentra en proceso de validación por parte del administrador del condominio.</p>
        <p>Te notificaremos en cuanto puedas acceder a todas las funciones de la comunidad.</p>
        <br>
        <a href="/"><button class="btn-primary">Volver al Inicio</button></a>
      </div>
    </main>
  </div>
</div>