<!-- ====== Sección del Dashboard - Inicio ====== -->
<section id="sectionDashboard" class="sectionView dashboard">
  <section id="dashboard-container" class="dashboard-container">
    <header class="dashboard-header">
      <!-- ::module.topbar -->
    </header>
    <main class="dashboard-main">

      <!-- ::module.breadcrumbs -->
      <!-- ::content.dashboard -->
    </main>
    <!-- ::module.navigator -->
  </section>
</section>
<!-- ====== Sección del Dashboard - Fin ====== -->